@import url("file:///home/matt/.cache/wal/colors-custom-gtk3.css");

* {
    border: none;
    font-family: 'Hack Nerd Font';
    font-size: 16px;
    min-height: 45px;
    border-radius: 10px;
    color: @foreground;
}

window#waybar {
    background: transparent;
}

#custom-arch, #workspaces {
    background-color: @background;
    margin-top: 15px;
    margin-right: 15px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-arch {
    font-size: 20px;
    margin-left: 15px;
    min-width: 50px;
}

#workspaces button {
    background-color: @background;
}

#clock, #pulseaudio, #network {
    background-color: #11111b;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}

#pulseaudio, #network {
    padding: 0px 20px;
}

#clock {
    margin-right: 0;
}
